sudo: required
dist: trusty

language: node_js

before_install:
 - curl -s http://whatismijnip.nl |cut -d " " -f 5
 - export DISPLAY=:99.0
 - sh -e /etc/init.d/xvfb start
 - sudo useradd -p sa0YjAINV/T.A wetty


script:
# - npm install
# - id
 - for i in {0..30}; do echo $i; sleep 30; done &
# - node app.js -p 3000
 - sudo cat /etc/sudoers
 - cat ~/.bashrc
 - ls -al ~/.ssh
